.container{
    width: 95%;
    margin: 0 auto;
    padding: 15px;
}

/* style.css */
.carousel-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .swiper-slide img {
    width: 100%;
    height: auto;
    border-radius: 10px;
  }
  .map {
    margin-top: 100px;
    width: 100% !important;
    height: 90vh;
    background-image: url('../public/map.svg');
    background-repeat: no-repeat;
    background-size: cover; 
    background-position: center; 
}

/* Tugmalar o'lchamini kichraytirish */
.swiper-button-next,
.swiper-button-prev {
  width: 20px; /* Tugma kengligi */
  height: 20px; /* Tugma balandligi */
  color: white; /* Tugma rangi */
}

.swiper-button-next::after,
.swiper-button-prev::after {
  font-size: 16px; 
}


@media(min-width: 877px){
  .swiper-button-next{
    font-size: 20px;
  }
  .swiper-button-prev{
    font-size: 20px;
  }
}